<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7" />
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

	<title>PersonalCar - Home</title>
	
	<!-- ########## CSS Files ########## -->	

	<!-- Framework CSS -->
	<link rel="stylesheet" href="{{ STATIC_URL }}css/kriframework.css" type="text/css" media="screen" />
	<!-- lightbox CSS -->
	<link rel="stylesheet" href="{{ STATIC_URL }}js/prettyPhoto/css/prettyPhoto.css" type="text/css" media="screen" charset="utf-8" />	
	<!-- Screen CSS -->
	<link rel="stylesheet" href="{{ STATIC_URL }}css/style.css" type="text/css" media="screen" />	
	
	<!-- Stylesheets for each skin -->
	<link rel="stylesheet" href="{{ STATIC_URL }}css/style1.css" type="text/css" media="screen" />
	
	<!--
	<link rel="stylesheet" href="css/style2.css" type="text/css" media="screen" />
	<link rel="stylesheet" href="css/style3.css" type="text/css" media="screen" />
	<link rel="stylesheet" href="css/style4.css" type="text/css" media="screen" />
	-->
	
	<!-- ########## end css ########## -->	<!-- JAVASCRIPT GOES HERE -->	
	<script type='text/javascript' src='{{ STATIC_URL }}js/jquery.js'></script>
	<script type='text/javascript' src='{{ STATIC_URL }}js/cufon.js'></script>
	<script type='text/javascript' src='{{ STATIC_URL }}js/geosans.js'></script>
	<script type='text/javascript' src="{{ STATIC_URL }}js/prettyPhoto/js/jquery.prettyPhoto.js"  charset="utf-8"></script>	
	<script type='text/javascript' src='{{ STATIC_URL }}js/custom.js'></script>

</head>
<body id='top' >

	<div class="wrap_fullwidth" id='head'>
	
		<div class='center'>
			<p class='headline'><!-- <a href='#'>Available for hire</a> --> <span>Telefone: (85) - 3252.3061</span><span>personalcarautos@hotmail.com</span></p>
			
			<form action="#" id="searchform" method="get">
				<div>
				<input type="submit" value="." id="searchsubmit" class="button "/>
				<input type="text" class='rounded' id="s" name="s" value=""/>
				</div>
			</form><!-- end searchform-->
		</div>
	
	<!-- end header -->
	</div>
	
	
	<div class="wrap_fullwidth" id='second_header'>
	
		<div class='center'>
		
			<h1 class="logo "><a href="index-2.html" title="Elementia - A premium Business and portfolio Template">Personal Car</a></h1>
		
			<ul id="nav">
				<li class='current'><a href="index-2.html">Home</a>
				<ul>
					<li><a href="index-2.html">Index - Curtain Slider</a></li>
					<li><a href="index_accordion.html">Index - Accordion Slider</a></li>
					<li><a href="index_fadeslide.html">Index - Fading Slider</a></li>
					<li><a href="index_newsslide.html">Index - News Slider</a></li>
					<li class='current'><a href="index_noslide.html">Index - No Slider</a></li>
				</ul>
				</li>
				
				<li><a href="blog.html">Blog</a></li>
				<li><a href="portfolio.html">Portfolio</a></li>
				<li><a href="page.html">Templates</a>
				<ul>
					<li><a href="index-2.html">Index</a></li>
					<li><a href="index_accordion.html">Index - Accordion Slider</a></li>
					<li><a href="index_fadeslide.html">Index - Fading Slider</a></li>
					<li><a href="index_newsslide.html">Index - News Slider</a></li>
					<li><a href="index_noslide.html">Index - No Slider</a></li>
					<li><a href="blog.html">Blog</a></li>
					<li><a href="single.html">Single Blog Page</a></li>
					<li><a href="portfolio.html">Portfolio Page</a></li>
					<li><a href="page.html">Page</a></li>
					<li><a href="fullwidth.html">Page Fullwidth</a></li>
					<li><a href="contact.html">Contact</a></li>
					<li><a href='#'>Second Level &raquo;</a>
						<ul>
						<li><a href='#'>Just for</a></li>
						<li><a href='#'>Demonstration</a></li>
						<li><a href='#'>Purpose</a></li>
						</ul>
					</li>
					</ul>
				</li>
				<li><a href="contact.html">Contact</a></li>
			</ul>
		<!-- end center -->
		</div>
	
	<!-- end second_header -->
	</div>
	
	
	
	
	<div class="wrap_fullwidth" id='feature_background'>	
		
		<!-- ###################################################################### -->
		<div class='center' id="feature_wrap">
		<!-- ###################################################################### -->
			<div id="featured" class='accordion'>
			
					<div class="featured featured1">
						<a href="single.html">
						<img src="{{ STATIC_URL }}images/funilaria.jpg" alt=""  />
							<span class='feature_excerpt'>
								<strong class='sliderheading'>Funilaria</strong>
								<span class='slidercontent'>
								Serviços de funilaria e pintura em geral.
								</span>
							</span>
							</a>
					</div><!-- end .featured -->
					
					<div class="featured featured2">
						<a href="single.html">
						<img src="{{ STATIC_URL }}images/ambiente.jpg" alt="" />
							<span class='feature_excerpt'>
								<strong class='sliderheading'>Ótimo atendimento</strong>
								<span class='slidercontent'>
								Temos a melhor equipe da cidade.
								</span>
							</span>
							
						</a>
					</div><!-- end .featured -->
					
					<div class="featured featured3">
						<a href="single.html">
							<img src="{{ STATIC_URL }}images/reboque.jpg" alt="" />
							<span class='feature_excerpt'>
								<strong class='sliderheading'>Serviços de Reboque</strong>
								<span class='slidercontent'>
								Com equipamento especializado.
								</span>
							</span>
							
						</a>
					</div><!-- end .featured -->
					
					<div class="featured featured4">
						<a href="single.html">
							<img src="{{ STATIC_URL }}images/revisao.jpg" alt="" />
							<span class='feature_excerpt'>
								<strong class='sliderheading'>Revisão</strong>
								<span class='slidercontent'>
								Procure o George e será prontamente atendido.
								</span>
							</span>
							
						</a>
					</div><!-- end .featured -->
					
					<div class="featured featured5">
						<a href="single.html">
							<img src="{{ STATIC_URL }}images/pecas.jpg" alt="" />
							<span class='feature_excerpt'>
								<strong class='sliderheading'>Mecânica em geral</strong>
								<span class='slidercontent'>
								Resolvemos o seu problema.
								</span>
							</span>
							
						</a>
					</div><!-- end .featured -->
					
				</div><!-- end #featured --> 
				
				<span class='bottom_right_rounded_corner '></span>
				<span class='bottom_left_rounded_corner '></span>
				<span class='top_right_rounded_corner '></span>
				<span class='top_left_rounded_corner '></span>
					
				
		<!-- ###################################################################### -->
		</div><!-- end featuredwrap -->
		<!-- ###################################################################### -->
		
	<!-- end feature_area -->
	</div>
	
	<div class="wrap_fullwidth small_margin" id='main'>
		
		<div class='center'>
		<h1 id='info'>A mais nova oficina mecânica da cidade. Venha nos visitar e conhecer Paulinho Dez e Fabiano Barbosa "O pepiteiro".</h1>
		
		<span class='latest_work'>Latest Work:</span>
		<a href='portfolio.html' class='show_portfolio'>Show portfolio</a>
		
		
		<div class='content_fullwidth'>
						
				<div class='content_one_third portfolio_item'>
					<div class='item_data rounded'>
					
						<a href='portfolio.html'><img src='{{ STATIC_URL }}images/content_pic_small1.jpg' alt=''/></a>
						<h2><a href='single.html'>Ut enim ad minim veniam</a></h2>
						<div class='entry'>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labolore magna aliqua. Ut enim ad minim veniam.</div>
						<span class='category'><a href='#'>Web Design</a>, <a href='#'>Webworks</a></span>
						<span class='date'>Dec. 03. 09</span>
						
					<!-- end item_data-->
					</div>
				<!-- end portfolio_item-->
				</div>
				
				<div class='content_one_third portfolio_item'>
					<div class='item_data rounded'>
					
						<a href='portfolio.html'><img src='{{ STATIC_URL }}images/content_pic_small2.jpg' alt=''/></a>
						<h2><a href='single.html'>Ut enim ad minim veniam</a></h2>
						<div class='entry'>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labolore magna aliqua. Ut enim ad minim veniam.</div>
						<span class='category'><a href='#'>Web Design</a>, <a href='#'>Webworks</a></span>
						<span class='date'>Dec. 03. 09</span>
						
					<!-- end item_data-->
					</div>
				<!-- end portfolio_item-->
				</div>
				
				<div class='content_one_third portfolio_item'>
					<div class='item_data rounded'>
					
						<a href='portfolio.html'><img src='{{ STATIC_URL }}images/content_pic_small3.jpg' alt=''/></a>
						<h2><a href='single.html'>Ut enim ad minim veniam</a></h2>
						<div class='entry'>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labolore magna aliqua. Ut enim ad minim veniam.</div>
						<span class='category'><a href='#'>Web Design</a>, <a href='#'>Webworks</a></span>
						<span class='date'>Dec. 03. 09</span>
						
					<!-- end item_data-->
					</div>
				<!-- end portfolio_item-->
				</div>
			<!-- end  #content_fullwidth -->
		</div>
		
		
		<div class='content_fullwidth'>
		
				<div class='content_one_fourth'>
				<h3><a href='single.html'>HTML Template „Elementia“</a></h3>
				<p><img src='{{ STATIC_URL }}images/icon40_star.png' class='alignleft ' alt='' />Lorem ipsum dolor sit amet, consectetur adipisicing elit, 
sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo conse.
</p>
				</div>
				
				<div class='content_one_fourth'>
				<h3><a href='single.html'>Working Contact Form</a></h3>
				<p><img src='{{ STATIC_URL }}images/icon40_mail.png' class='alignleft ' alt='' />Consectetur adipisicing elit, 
sed do eiusmod tempor incididunt ut labore et dolore im veniam.<br/> quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo cem ipsum dolor sit amet.
</p>
				</div>
				
				<div class='content_one_fourth'>
				<h3><a href='single.html'>Rising Stats with this theme</a></h3>
				<p><img src='{{ STATIC_URL }}images/icon40_stats.png' class='alignleft ' alt='' />Lorem ipsum dolor sit amet, consectetur adipisicing elit, 
sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo conse.
</p>
				</div>
				
				<div class='content_one_fourth'>
				<h3><a href='single.html'>Screen, Browser &amp; OS</a></h3>
				<p><img src='{{ STATIC_URL }}images/icon40_tft.png' class='alignleft ' alt='' />Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo conse. Lorem ipsum dolor sit amet.<br/> 
Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
				</div>
				
		<!-- end  #content_fullwidth -->
		</div>
		
		<!-- end center -->
		</div>
	
	<!-- end main -->
	</div>
	
	
	<div class="wrap_fullwidth" id='breadcrumb_wrap'>
	
		<div class='center'>
		
			<p class='breadcrumb'>
			<span class="breadcrumb_info">You are here:</span> 
			<a href="#">Home</a>
			<span> » </span><a href="#">About</a>
			<span> » </span><a href="#">Philosophy</a>
			<span> » </span><span class="current_crumb">We love what we do </span>
			<!-- end breadcrumb -->
			</p>
			
			<ul class="social_bookmarks">
				<li class="rss"><a href="#" class="">RSS</a></li>
				<li class="facebook"><a href="#" class="">Facebook</a></li>
				<li class="twitter"><a href="#" class="">Twitter</a></li>
				<li class="flickr"><a href="#" class="">flickr</a></li>
				<li class="skype"><a href="#" class="">Skype</a></li>
			</ul>
		
		<!-- end center -->
		</div>
	
	<!-- end breadcrumb_wrap -->
	</div>
	
	
	<div class="wrap_fullwidth " id='footer'>
	
		<div class='center'>
	
			<div class="box box_mini">
				<h4>Latest News</h4>
				<ul>
					<li><a href="single.html">Our New Page is online</a></li>
					<li><a href="single.html">Flash Slider Released</a></li>
					<li><a href="single.html">Apple buys Microsoft</a></li>
					<li><a href="single.html">Adobe buys Macromedia</a></li>
				</ul>
			</div>
			<div class="box box_mini">
				<h4>Pages</h4>
				<ul>
					<li><a href="index-2.html">Home</a></li>
					<li><a href="portfolio.html">portfolio</a></li>
					<li><a href="contact.html">Contact</a></li>
					<li><a href="page.html">About Us</a></li>
					<li><a href="fullwidth.html">Jobs</a></li>
					<li><a href="page.html">Philosophy</a></li>
				</ul>
			</div>
			<div class="box box_mini">
				<h4>Template Files</h4>
				<ul>
					<li><a href="index-2.html">Index</a></li>
					<li><a href="index_fadeslide.html">Index - Fading Slider</a></li>
					<li><a href="blog.html">Blog</a></li>
					<li><a href="single.html">Single Blog Page</a></li>
					<li><a href="portfolio.html">portfolio</a></li>
					<li><a href="portfolio.html">Single portfolio Page</a></li>
					<li><a href="page.html">Page</a></li>
					<li><a href="fullwidth.html">Page Fullwidth</a></li>
					<li><a href="contact.html">Contact</a></li>
					<li><a href="http://www.kriesi.at/demos/elementia/water/archive.html">Archive</a></li>
				</ul>
			</div>
			<div class="box box_mini">
				<h4>Miscellaneous</h4>
				<ul>
					<li><a href="page.html">Register</a></li>
					<li><a href="page.html">Log in</a></li>
					<li><a href="page.html">Terms of Service</a></li>
					<li><a href="contact.html">Contact</a></li>
					<li><a href="page.html">Site Map</a></li>
				</ul>
			</div>
			
			<div class="box box_custom_footer">
		
				<h3><a href='single.html'>HTML Template „Elementia“</a></h3>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, 
	sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p><p>Ut enim ad minim veniam, quis nostrud exercitation ullamco lab.
	</p>	
				
			</div>
	
		<!-- end center -->
		</div>
	
	<!-- end footer -->
	</div>
	<div class="wrap_fullwidth" id='footer_bottom'>
	
		<div class='center'>
			<span class='copyright'>All content Copyright &copy; 2010 Elementia, Inc</span>
			<a class='scrollTop ' href='#top'>top</a>
		<!-- end center -->
		</div>
	
	<!-- end footer -->
	</div>
	
</body>
</html>