# Ignore .DS_Store mac files,
*.DS_Store
# Ignore .pyc python compiled file
*.pyc
local_settings.py
db.sqlite3
# except foo.html which is maintained by hand.
!foo.html
# Ignore objects and archives.
*.[oa]
