{% extends "insite_base.html" %}
{% load i18n %}

{% block head_title %}{% trans "Senha alterada" %}{% endblock %}

{% block breadcrumb %}
    {{ block.super }}
    <li><a href="{% url login %}" title="{% trans "Voltar para acesse" %}">{% trans "Acesse" %}</a></li>
    <li>{% trans "Senha alterada" %}</li>
{% endblock %}

{% block content_component %}
<section id="login">
    <header>
        <h1>{% trans "Senha alterada" %}</h1>
        <div class="green-box">
            <p>{% trans "A partir de agora você pode acessar seu perfil através de sua nova senha." %}</p>
        </div>
    </header>

    <section>
        <p>{% trans "Faça o" %} <a href="{% url login %}">{% blocktrans %}login no {{ SITE_NAME }} imediatamente{% endblocktrans %}</a>!</p>
    </section>
</section>
{% endblock %}
