{% extends "insite_base.html" %}
{% load i18n %}

{% block head_title %}{% trans "Recuperar senha" %}{% endblock %}

{% block breadcrumb %}
    {{ block.super }}
    <li><a href="{% url login %}" title="{% trans "Voltar para acesse" %}">{% trans "Acesse" %}</a></li>
    <li>{% trans "Confirmação de recuperação de senha" %}</li>
{% endblock %}

{% block content_component %}
<section id="login">
    <header>
        <h1>{% trans "Insira a nova senha" %}</h1>
        <div class="green-box">
            <p>{% trans "Por favor, informe sua nova senha duas vezes para que possamos verificar se você a digitou corretamente. " %}</p>
        </div>
    </header>

    <section>
        <form action="" method="post">
            {% csrf_token %}

            {{ form.as_p }}

            <p>
                <input type="submit" class="button" value="{% trans "Alterar minha senha" %}" />
            </p>
    </section>
</section>
{% endblock %}
