{% extends "insite_base.html" %}
{% load i18n %}

{% block head_title %}{% trans "Solicitada uma nova senha" %}{% endblock %}

{% block breadcrumb %}
    {{ block.super }}
    <li><a href="{% url login %}" title="{% trans "Voltar para acesse" %}">{% trans "Acesse" %}</a></li>
    <li>{% trans "Solicitada nova senha" %}</li>
{% endblock %}

{% block content_component %}
<section id="login">
    <header>
        <h1>{% trans "Solicitada uma nova senha" %}</h1>
    </header>

    <p>{% trans "Uma requisição de nova senha foi enviada para o seu e-mail neste exato momento." %} {% trans "Após alterar sua senha" %}, <a href="{% url login %}" title="{% blocktrans %}Entre no {{ SITE_NAME }}{% endblocktrans %}">{% trans "Faça login" %}</a> {% blocktrans %}e volte a utilizar o {{ SITE_NAME }}.{% endblocktrans %}</p>
</section>
{% endblock %}
