{% extends "insite_base.html" %}
{% load i18n %}

{% block head_title %}{% trans "Esqueci minha senha" %}{% endblock %}

{% block breadcrumb %}
    {{ block.super }}
    <li><a href="{% url login %}" title="{% trans "Voltar para login" %}">{% trans "Login" %}</a></li>
    <li>{% trans "Esqueci minha senha" %}</li>
{% endblock %}

{% block content_component %}
<!-- password reset -->
<section id="login">
    <header>
        <h1 class="beige">{% trans "Esqueci minha senha" %}</h1>
        <p class="green-box">{% trans "Informe seu e-mail no formulário abaixo. Um e-mail será enviado para você com instruções para obter uma nova senha." %}</p>
    </header>

    <form action="{% url django.contrib.auth.views.password_reset %}" method="post">
        {% csrf_token %}
        {{ form.as_p }}

        <p>
            <input type="submit" class="button" value="{% trans "Enviar" %}" />
        </p>
    </form>
</section>
<!-- end password reset -->
{% endblock %}
