{% extends "index.html" %}
{% load i18n %}

{% block head_title %}{% trans "Adicionar Servico" %}{% endblock %}

{% block content %}
                        <div class="title_wrapper">
							<h2>{% trans "Adicionar Servico" %}</h2>
							
							<span class="title_wrapper_left"></span>
							<span class="title_wrapper_right"></span>
						</div>
						<!--[if !IE]>end title wrapper<![endif]-->
						<!--[if !IE]>start section content<![endif]-->
						<div class="section_content">
							<!--[if !IE]>start section content top<![endif]-->
							<div class="sct">
								<div class="sct_left">
									<div class="sct_right">
										<div class="sct_left">
											<div class="sct_right">
                                                
                                                
                                                
												<!--[if !IE]>start forms<![endif]-->
												<form action="." method="post" class="search_form general_form">
                                                    {% csrf_token %}
													<!--[if !IE]>start fieldset<![endif]-->
													<fieldset>
														<!--[if !IE]>start forms<![endif]-->
														<div class="forms">
														
														<!--[if !IE]>start row<![endif]-->
                                                        {% for field in form %}
														<div class="row">
															<label>{{ field.label_tag }}</label>
															<div class="inputs">
																<span class="input_wrapper">{{ field }}</span>
																{% if field.errors %}
                                                                    <span class="system negative">{{ field.errors }}</span>
                                                                {% endif %}
															</div>
														</div>
                                                        {% endfor %}
														<!--[if !IE]>end row<![endif]-->
														
														<!--[if !IE]>start row<![endif]-->
														<div class="row">
															<div class="buttons">
																<ul>
																	<li><span class="button send_form_btn"><span><span>{% trans "Salvar" %}</span></span><input name="" type="submit" /></span></li>
																	<li><span class="button cancel_btn"><span><span>{% trans "Cancelar" %}</span></span><input name="" type="submit" /></span></li>
																</ul>
															</div>
														</div>
														<!--[if !IE]>end row<![endif]-->
														
														</div>
														<!--[if !IE]>end forms<![endif]-->
														
													</fieldset>
													<!--[if !IE]>end fieldset<![endif]-->
													
												</form>
												<!--[if !IE]>end forms<![endif]-->	
												
											</div>
										</div>
									</div>
								</div>
							</div>
							<!--[if !IE]>end section content top<![endif]-->
							<!--[if !IE]>start section content bottom<![endif]-->
							<span class="scb"><span class="scb_left"></span><span class="scb_right"></span></span>
							<!--[if !IE]>end section content bottom<![endif]-->
							
						</div>
						<!--[if !IE]>end section content<![endif]-->
{% endblock %}